<!DOCTYPE html>
<!--  xmlns = xml namespace -->
<html lang='en' xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title >change password form</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<section>
    <div id="login">
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height:250px">
                    	<!--  Email form -->
           
						<h3 >Enter new password</h3>
                        <form method="POST" action="" th:action="@{/change-password}">
                       <div class="form-group">
                       <input required type="password" placeholder="Enter new password here" name="newPassword" class="form-control" />
                       </div>
                       <div class="text-center">
                       <button class="btn btn-success">Change password</button>
                       </div>
                       
                       
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>

</body>
</html>